<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Update Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav class="top-nav">
    <div class="nav-left">
        <strong>SWIFTFREIGHT</strong>
    </div>

    <div class="nav-right">
        <div class="hamburger" onclick="toggleMenu()">
            ☰
        </div>
    </div>
</nav>

<!-- SIDE MENU -->
<div id="sideMenu" class="side-menu">
    <span class="close-btn" onclick="toggleMenu()">×</span>

    <a href="/">Home</a>
    <a href="/booking">Book Shipment</a>
    <a href="/track">Track</a>

    {% if session.get("logged_in") %}
        <hr>
        <a href="/admin">Admin</a>
        <a href="/admin/bookings">Bookings</a>
        <a href="/admin/shipment-update">Shipment Update</a>
        <a href="/logout">Logout</a>
    {% else %}
        <hr>
        <a href="/login">Login</a>
    {% endif %}
</div>
    <div class="container">
        <h2>Admin: Update Shipment Status</h2>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <form method="POST">
            <input type="text" name="tracking_number" placeholder="Enter Tracking Number" required>

            <select name="new_status" required>
                <option value="">Select New Status</option>
                <option value="Booking Received">Booking Received</option>
                <option value="In Transit">In Transit</option>
                <option value="Out for Delivery">Out for Delivery</option>
                <option value="Delivered">Delivered</option>
            </select>

            <button type="submit">Update Status</button>
        </form>
    </div>
    <script>
function toggleMenu() {
    let menu = document.getElementById("sideMenu");

    if (menu.style.right === "0px") {
        menu.style.right = "-260px";
    } else {
        menu.style.right = "0px";
    }
}
</script>
</body>
</html>